body{
background-image:radial-gradient(circle,lightpink, lightyellow,lightcoral);
font-family: 'Bebas Neue', cursive;
}
.take{
  border-radius:50px;
  color:black;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px;
  border-radius: 20px; 
}
.on{
  color:red
}